{% extends  "store/main.html" %}
{% load static %}

{% block body %}

<div class="row mt-5">
    <div class="col-lg-4">
        <div class="box-elent ml-5">
            <img src="{% static 'images/placeholder.png' %}"  style="width: 300px; height:350px;">
        </div>
    </div>

    <div class="col-lg-4">
        <div class="box-elent mr-20">
            <img src="{% static 'images/placeholder.png' %}"  style="width: 300px; height:350px;">
        </div>
    </div>

    <div class="col-lg-4">
        <div class="box-elent">
            <img src="{% static 'images/placeholder.png' %}"  style="width: 300px; height:350px; ">
        </div>
    </div>

    
</div>

{% endblock body %}
